/*
------------ Reset global 
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*
------------ Définition des couleurs 
*/
:root {
  --color-light-gray: #e7e7e7;
  --color-dark-gray: #c7bebe;
  --color-blue: #3282f7;
  --color-green: #68d9a4;
  --color-red: #ed6454;
  --color-red-title: #d04f4f;
  --color-white: #ffffff;
}
/*
------------ Définition des fonts 
*/
@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/*
------------ Header
*/
* :focus {
  outline: none;
}
body {
  font-family: "lato", sans-serif;
  font-size: 25px;
  margin: auto;
  max-width: 1240px;
}

header {
  width: 700px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: auto;
  color: var(--color-red-title);
}
header img {
  width: 50px;
  margin-top: 50px;
}
header h1 {
  margin: 0;
}
/*
------------ Section recherche
*/
#sectionRecherche {
  margin: 20px 0 0 0;
}
#barreDeRecherche {
  height: 69px;
  background-color: var(--color-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
}
#rechercheParMotClef {
  width: 1200px;
  height: 69px;
  background-color: var(--color-light-gray);
  padding: 10px;
  margin: 0;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  height: 50px;
}
.iconDeRecherche {
  width: 60px;
  height: 69px;
  background-color: var(--color-light-gray);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#containerPourRecherche {
  display: flex;
  justify-self: start;
  flex-wrap: wrap;
}

.bouttonDeRecherche {
  margin-left: 15px;
}

.ensembleBouttonsRecherche {
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 5px;
  height: 69px;
}
.flexBoxBoutton input::placeholder {
  color: var(--color-white);
  font-size: 1.4em;
}

.flexBoxBoutton {
  display: flex;
  align-items: center;
  height: 69px;
  padding: 0 20px 0 20px;
}

#rechercheParIngredient {
  background-color: var(--color-blue);
}

#rechercheParAppareils {
  background-color: var(--color-green);
}

#rechercheParUstensiles {
  background-color: var(--color-red);
}

.fa-chevron-down {
  color: var(--color-white);
  cursor: pointer;
}
input {
  border: none;
  background-color: transparent;
  font-size: 18px;
}
.selectionDeTag {
  color: var(--color-white);
  border: none;
  background-color: transparent;
  font-size: 15px;
  height: 25px;
}
/*
------------ Section Recettes
*/
#containerPourData {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 30px;
}

.recipes {
  width: 380px;
  height: 390px;
  background-color: var(--color-light-gray);
}

.imageDeRecipe {
  width: 100%;
  height: 50%;
  background-color: var(--color-dark-gray);
}

.textDeRecipe h2 {
  font-size: 18px;
  max-width: 260px;
  padding: 0px 0px 0px 0px;
}
.textDeRecipe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 0px 10px;
}

.informationSupplementaire {
  display: flex;
  justify-content: space-evenly;
  font-size: 13px;
  margin: 0 10px;
}

.ingredientsDeRecipe {
  width: 55%;
  list-style-type: none;
  padding: 0;
}

.description {
  width: 45%;
  margin: 0;
}
.tempsDePreparation {
  margin: 0;
  padding: 15px 0px 10px 0;
  font-weight: bold;
  width: 115px;
}
.ingredientsDeRecipe--hidden {
  display: none;
}
/*
------------ Les listes
*/

.bloquesDeListe {
  list-style-type: none;
  column-count: 3;
  margin: 0;
  padding: 0;
  color: var(--color-white);
}

.bloquesDeListe li:hover {
  transform: scaleX(1.1);
}

.bloquesDeListe li {
  margin: 10px;
}
.containerListes {
  transform: scale(0);
  position: absolute;
  z-index: 1;
  top: 350px;
  background-color: inherit;
  border-radius: 0 0 5px 5px;
  width: 630px;
  max-height: 400px;
  padding: 18px 25px 15px 25px;
  overflow-y: auto;
  transition: transform 300ms;
  transform-origin: top left;
  font-size: 20px;
}
.bloquesDeListe li {
  cursor: pointer;
}
/*
------------ Activation
*/

.ensembleBouttonsRecherche.Active {
  width: 630px;
}

.ensembleBouttonsRecherche.Active div input {
  width: 630px;
}
.ensembleBouttonsRecherche.active .containerListes {
  transform: scale(1);
}

.ensembleBouttonsRecherche.active {
  width: 630px;
}
